<% provide(:title, "Thay đổi thông tin tài khoản") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Tên tài khoản" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Địa chỉ Email" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Nhập lại mật khẩu" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Cập nhật", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
